a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}



.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

a.nav-link {
  font-family: IbmPlexMonoRegular;    
  font-size: 1.125rem;
  color: #0A2235;
}

.nav-item{
  
}
