/* Provide sufficient contrast against white background */
@font-face {
	font-family: 'RubikBold'; 
	src: url(../src/fonts/RubikBold.ttf); 
}

@font-face {
	font-family: 'RubikMedium'; 
	src: url(../src/fonts/RubikMedium.ttf); 
}


@font-face {
	font-family: 'IbmPlexMono'; 
	src: url(../src/fonts/IbmPlexMono.ttf); 
}

@font-face {
	font-family: 'IbmPlexMonoRegular'; 
	src: url(../src/fonts/IBMPlexMono-Regular.ttf); 
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: IbmPlexMonoRegular;
  width: 100%;
  height: 100vh;
}


.layout{
  display: grid;  
  height: 100vh;
  grid-template-rows: 110px auto 100px;
}

.layout > div{
  display: grid;
  place-items: center;  
}


.main {
  width: 100%;
}


.textContainer{
  align-self: start;  
  display: grid;
  height: 100%;
  width: 100%;  
}


.videoContainer{  
  height: 490px;
  width: 100%;
  align-self: start;  
  position: relative;
  overflow: hidden;
  
  display: grid;
  grid-template-rows: auto;
}

.video{
  object-fit: cover;
  width: 100%;
  max-height: 490px;
  height: 100%;  
}


.captionContainer{
  position: absolute;
  
  display: grid;
  place-self: center;
  align-self: start;
  width: 100%;
  max-width: 1200px;  
  width: 100%;
  
  grid-template-rows: auto auto auto;  
  
}

.cont{
  max-width: 1200px;  
}

.captionContainer h1{    
  margin-top: 100px;
  padding-left: 10px;
  display: grid;  
  font-size: 3.8fr;
  font-family: RubikBold;  
  color: #ffffff;  
  
}

.cap2{
  margin-top: 20px;
  display: grid;
  font-family: IbmPlexMonoRegular;
  color: #ffffff;    
  font-size: 24px; 
  padding-left: 10px;
}

.cap3{
  margin-top: 50px;
  padding-left: 10px;
  
}

.orderBtn{
  font-family: IbmPlexMono;
  background-color: #3777BC;

}

.whatwedo{  
  display: grid;
  max-width: 1200px;
  place-self: center;
  align-self: start;
  width: 100%;
  padding-left: 20px;
}


.h1black{
  font-family: RubikBold;  
  color: black;
  padding-top: 50px;
}



.offerlist
{
  display: grid;
  width: 90%;
  margin: 0 auto;  
  padding-top: 40px;
  grid-template-columns: repeat(auto-fit, 350px);
}

.offerItem{
  
  font-family: RubikMedium;
  padding-top: 40px;  
}

.offerName{
  padding-top: 40px;  
}

.offerDescription{
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: IbmPlexMonoRegular;
}


#leftFooter{float: left; padding-left: 20px; padding-top: 10px;}
#rightFooter{float: right; padding-top: 30px; padding-right: 20px;}
.footer {
  min-height: 80px;  
  background-color: #0A2235;
  color: #ffffff;
}

.SiteContainerBlock{  
  display: grid;
  max-width: 1200px;
  place-self: center;
  align-self: start;
  width: 100%;
  padding-left: 20px;
}

.hrline{
  display: grid;
  place-self: center;
  align-self: start;
  width: 100%;
  border-top: solid 1px #0A2235;
}

.columnContainer{
  display: grid;
  grid-template-areas: 
  'A B C'
  'D B E'
  'F B G'
  'H B K'
  'J B I';  
}


.prepareBlock{
  grid-area: A;  
  height: 250px;
}

.prepareImg{
  grid-area: C;  
  justify-self: center;
}

.stagesBlock{
  grid-area: B;  
  padding-top: 100px;
  justify-self: center;  

}

.researchImg{
  grid-area: D;  
  justify-self: center;
  margin-top: 100px;
}

.researchBlock{
  grid-area: E;  
  margin-top: 60px;
  margin-left: 50px;
}

.planBlock{
grid-area: F;
margin-top: 40px;
}

.planImg{
  grid-area: G;
  justify-self: center;
  }

  .injectImg{
    grid-area: H;
  }

  .injectBlock{
    grid-area: K;
    margin-left: 50px;
  }

  .supportImg{
    grid-area: I;
  }

  .supportBlock{
    grid-area: J;
  }


  .columnContainer:nth-child(2) h3{
    font-family: RubikMedium;
    
    padding-top: 100px;
  }