/* Provide sufficient contrast against white background */
@font-face {
	font-family: 'RubikBold'; 
	src: url(../src/fonts/RubikBold.ttf); 
}

@font-face {
	font-family: 'RubikMedium'; 
	src: url(../src/fonts/RubikMedium.ttf); 
}


@font-face {
	font-family: 'IbmPlexMono'; 
	src: url(../src/fonts/IbmPlexMono.ttf); 
}

@font-face {
	font-family: 'IbmPlexMonoRegular'; 
	src: url(../src/fonts/IBMPlexMono-Regular.ttf); 
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root
{ 
    height: 100%;
} 

body {  
  font-family: IbmPlexMonoRegular;
}


a {
  color: #0A2235;
}


.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #ffffff;  
}

.orderBtn{
  font-family: IbmPlexMono;
  background-color: #3777BC;

}



.wrapper {
  height: 100vh;
  display: flex;  
  flex-direction: column;
}

.header{
  height: 110px;  
  min-height: 110px;
}


.main {
  flex: 1;
  
}

.menuLink{
  color: #ffffff;
}

#leftFooter{float: left; padding-left: 20px; padding-top: 10px;}
#rightFooter{float: right; padding-top: 30px; padding-right: 20px;}
.footer {
  min-height: 80px;  
  background-color: #0A2235;
  color: #ffffff;
}
.centerFooter {
  width: 70%;
  margin: 0 auto;
}

.greenLink{
  color: #5ea57a;  
  font-weight: bold;
}

.video-container {
  height: 400px;
  width: 100%;
  position: relative;  
  
}

.video-container video {
width: 100%;
height: 100%;
position: absolute;
object-fit: cover;
z-index: 0;
}

/* Just styling the content of the div, the *magic* in the previous rules */
.video-container .caption {
  width: 100%;
  height: 100%;
  z-index: 1;
  position: relative;      
  
}


.caption h1{
  
  margin: 0 auto;
  width: 90%;  
  height: 50%;   
  font-family: RubikBold;
  
  color: #ffffff;  

  
}


.cap2{
  margin: 0 auto;
  width: 90%; 
  height: 30%;
  font-family: IbmPlexMonoRegular;
  color: #ffffff;    
  font-size: 1.1rem;   
  padding-top: 20px;
}

.cap3{
  margin: 0 auto;  
  width: 90%;    
  height: 20%;
}


/* Что мы делаем */

.whatwedo {
  margin: 0 auto;  
  padding-top: 20px;  
  width: 67%;
}



.whatwedo h1 {
  color: black;
  font-family: RubikBold;
  padding-top: 40px;
}


.offerlist
{
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  margin: 0 auto;  
  padding-top: 40px;
}

.offerItem{
  width: 300px;  
  font-family: RubikMedium;
  padding-top: 40px;  
}

.offerName{
  padding-top: 40px;  
}

.offerDescription{
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: IbmPlexMonoRegular;
}


/* Медиа */
@media (min-width: 600px) {
  .caption h1 {font-size: 40px; }  
  .whatwedo {
    width: 90%;
  }
  
}

@media (min-width: 1200px) {
  .caption h1 {font-size: 2.8rem; width: 67%;}
  .cap2 {width: 67%; font-size: 2rem;}
  .cap3 { width: 67%;}
  .whatwedo {
    width: 67%;  }

}
